doctype html
html
  head
    title OTP Verification
  body
    h2 Hello,
    p Your one-time password (OTP) is:
    h1 #{otp}
    p This OTP is valid for 10 minutes. Please do not share it with anyone.
